<% if @principals %>
  <table width='50%' border='1'>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>SUPPLIER_GUID</th>
    </tr>
    <% @principals.each do |principal| %>
      <tr>
        <td><%= principal.id %></td>
        <td><%= principal.name %></td>
        <td><%= principal.supplier_guid %></td>
      </tr>
    <% end %>

  </table>


<% end %>